 <!-- Main Navigation -->
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row">
          <!-- Left elements -->
          <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
            <a href="{% url 'learnsync_app:home' %}" class="navbar-brand p-0 d-none d-lg-block">
                <h1 class="m-0 display-4 text-uppercase text-primary" style="font-size: 2.5rem; margin-top: 0.5rem;">
                  Learn<span class="text-secondary font-weight-normal">Sync</span>
                </h1>
              </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <div class="col-md-4">
            <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
              <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" />
              <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
            </form>
          </div>
          <!-- Center elements -->

          <!-- Right elements -->
          <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
            <div class="d-flex">
              <!-- Cart -->
              <a class="text-reset me-3" href="#">
                <span><i class="fas fa-shopping-cart"></i></span>
                <span class="badge rounded-pill badge-notification bg-info">1</span>
              </a>

              <!-- Notification -->
              <div class="dropdown">
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-bell"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Notifications 
                    <span class="badge rounded-pill badge-notification bg-info">1</span>
                  </a></li>
                  <li><a class="dropdown-item" href="#">Messages 
                    <span class="badge rounded-pill badge-notification bg-info">1</span>
                  </a></li>
                  <li>
                    <a class="dropdown-item" href="#">System Notifications <span class="badge rounded-pill badge-notification bg-info">1</span>
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Languages -->
              <div class="dropdown">
                <a class="text-reset dropdown-toggle me-3 hidden-arrow" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-globe"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag flag-united-kingdom"></i>English
                      <i class="fa fa-check text-success ms-2"></i></a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag flag-poland"></i>Polski</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag flag-china"></i>中文</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag flag-japan"></i>日本語</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"><i class="flag flag-germany"></i>Deutsch</a>
                  </li>
                </ul>
              </div>

              <!-- Profile -->
              <div class="dropdown">
                <a class="text-reset dropdown-toggle me-3 hidden-arrow" href="#" id="profileDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{% url 'learnsync_app:user_dashboard' %}">My Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>

 
  
    
  </header>